:root {
--primary-background-color: #27374D;
--secondary-background-color: #526D82;
--text-color: white;
--header-background-color: #DDE6ED;
--separator-color: #9DB2BF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body, #app {
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
