:root {
    --primary-background-color: #18181d;
    --secondary-background-color: #18181d;
    --text-color: white;
    --header-background-color: #DDE6ED;
    --separator-color: #9DB2BF;
    --nav-width: 1800px;
}

@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto.ttf");
}

a {
    text-decoration: none;
    color: var(--text-color);
}