:root {
--primary-background-color: #FF6500;
--secondary-background-color: #FF6500;
--text-color: white;
--header-background-color: #FF6500;
--separator-color: #FF6500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {

}
